body {
  margin: 50px;
  background-color: #000000;
}

.logo {
  max-width: 1000px;
  text-align: center;
  margin: 30px auto;
  padding-inline: 16px;
}

.stats-container {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px auto;
  max-width: 1000px;
  height: auto;
  padding-inline: 16px;
}

.stats-container .stat {
  background: #7a81ff;
  padding: 20px; 
  text-align: center;
  color: #000000;
}
.stats-container .stat .odometer {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  font-family: "Courier New";
}
.stats-container .stat .type {
  font-size: 20px;
  color: #fed53b;
  font-family: "Eagle";
}

@media (max-width: 700px) {
  .stats-container {
    grid-template-columns: 1fr;
  }
  img {
    max-width: 300px;
  }
}
